html * {
    line-height: 1.3;
}

* {
    outline: 0 none;
}

body {
    color: #000;
    font-family: Roboto, Serif;
    font-size: large;
    -webkit-text-size-adjust: none;
}

a, p {
    color: #231f20;
    text-decoration: none;
}

#content p {
}

a:hover {
    color: #231f20;
}

#header {
    background-color: #6B8E23;
    border-bottom: 2px solid #8B8D8E;
    position: relative;
    height: 6px;
}

#content {
    border-bottom: 9px solid #6B8E23;
}

#content-nav {
    padding: 2px;
}

.faq #content-nav p {
}

.faq #content-nav p a {
    display: inline;
    font-weight: bold;
    font-size: large;
    font-family: Roboto, Serif;
}

#content-nav p {
    border-bottom: 1px dashed #c8c8c8;
}

#content-nav img {
    margin: 6px 0;
}

#content-nav p:first-child {
    border-top: 1px dashed #c8c8c8;
}

body.faq #content {
    padding: 0;
    margin: 0;
}

.horizontal_container {
    width: auto;
    height: auto;
    margin: 0 auto;
    border-bottom: 1px dashed #c8c8c8;
}

.accordion_toggle {
    cursor: pointer;
    display: block;
    position: relative;
    width: auto;
    margin: 10px 0;
    font-weight: bold;
    border-left: 4px solid #6B8E23;
    padding: 4px;
}

.accordion_content {
    overflow: hidden;
    width: 99.5%;
    margin: 0 auto;
}

.current {
}

#content-nav div.horizontal_container p {
    border: 0 none;
    font-size: large;
    font-weight: 400;
    text-align: justify;
}

#content-nav div.horizontal_container p a {
    color: #6B8E23;
    font-size: large;
    text-decoration: none;
}
